.header {
  margin-bottom: 40px;
}

.repository-container {
  display: flex;
  justify-content: center;
  color: white;
}

.repository-list {
  list-style: none;
  align-content: center;
  width: 700px;
}

.repository-list li {
  position: relative;
  border-top: 1px solid rgb(53, 40, 3);
  margin-top: 35px;
  width: 100%;
  color: white;
}

.summary {
  border: 1px solid rgb(136, 159, 177);
  border-radius: 6px;
  padding: 0 15px;
}

.repo-link {
  color: rgb(166, 165, 165);
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
}

#sign-out-button {
  color: rgb(25, 134, 0);
  position: absolute;
  right: 35px;
  top: 30px;
  margin-bottom: 20px;
  padding: 7px 25px;
  border-radius: 8px;
  border: 3px solid rgb(136, 159, 177);
  cursor: pointer;
}

.repo-card {
  background-color: transparent;
}

.repo-card p {
  background-color: transparent;
}

.close-button {
  position: absolute;
  background-color: transparent;
  text-decoration: none;
  color: rgb(154, 22, 2);
  right: 35px;
  top: 30px;
}
