.page-item {
  color: white;
  display: inline;
}

.page-item button {
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.modal {
  color: black;
  width: 500px;
  height: 300px;
  border-radius: 25px;
  background-color: rgb(136, 159, 177);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.modal h5 {
  margin-left: 20px;
  background-color: transparent;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 35px;
  color: rgb(53, 40, 3);
}

.modal p {
  background-color: transparent;
}

.modal details {
  background-color: transparent;
}

.details-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 0px 45px;
  color: black;
}
